.root{
    -fx-font-style: oblique;
    -fx-font-size: 15px;
    -fx-background-size: cover;
    -fx-text-fill:black;

}

.label{
    -fx-text-fill: black;
}



#gridPane{
    -fx-font-style: oblique;
    -fx-background-color: #140d09;
    -fx-background-radius: 20px;
    -fx-padding: 10px;
}

.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.list-view {
    -fx-background-radius: 20px;
}

.text-field{
    -fx-font-style: oblique;
    -fx-background-radius: 20px;
}