.root{
    -fx-font-style: oblique;
    -fx-font-size: 15px;
    -fx-background-size: cover;
    -fx-text-fill:black;

}

.label{
    -fx-text-fill: black;
}



#table{
    -fx-font-style: oblique;
    -fx-background-color: #140d09;
    -fx-background-radius: 20px;
    -fx-padding: 10px;
}


.text-field{
    -fx-font-style: oblique;
    -fx-background-radius: 20px;
}